@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

/* * {
    margin: 0;
    box-sizing: border-box;
} */

/* :root {
    --indigo: #6610f2;
    --main-black: #000;
    --main-white: #fff;
    --secondary-white: #f5f0e8;
    --secondary-black: #242223;
} */

body {
    /* background: #fff; */
    background: var(--main-white);
    /* background: var(--secondary-white); */
    font-family: "Roboto Mono";
}

.container {
    display: flex;
}

.left-area, 
.right-area {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
    /* width: 50%; */
    flex: 1;
    height: 100vh;
}

.greeting-area {
    font-size: 80px;
    font-family: 'Dancing Script', cursive;
    /* font-style: italic; */
    /* width: 90%; */
    /* border: 1px solid black; */
    max-width: 90%;
}

.form-area {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* border: 1px solid; */
    width: 60%;
    /* color: #0784b5; */
    /* border-radius: 20px; */
    /* background-color: var(--main-white); */
    /* margin: auto; */
    box-shadow: 11px 11px 5px 5px var(--main-black);
    border: 2px solid var(--main-black);
}

form {
    width: 100%;
    /* border: 2px solid red; */
}

.flex-line {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.line {
    padding: 10px 15px;
    /* color: var(--main-white); */
}

.line a {
    text-decoration: none;
    color: black;
    /* color: var(--main-white); */
}

.line a:hover {
    text-decoration: underline;
}

.fname,
.lname {
    flex: 1;
    /* border: 1px solid; */
}

.fname {
    margin-right: 7px;
}

.lname {
    margin-left: 7px;
}

input[type=text],
input[type=password] {
    width: 100%;
    height: 28px;
    border: none;
    /* background: #f8b54c; */
    background: var(--secondary-white);
    /* background: var(--main-black); */
    border-radius: 5px;
    border-bottom: 2px solid;
    padding: 2px 5px;
    margin-top: 5px;
    font-family: "Roboto Mono";
    /* color: var(--main-white); */
}

input[type=text]:active {
    text-decoration: none;
}

input[type=submit] {
    margin: auto;
    padding: 6px 24px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 15px;
    /* font-weight: bold; */
    /* background: #13286b; */
    background: var(--main-black);
    /* color: #fff; */
    color: var(--main-white);
    font-family: "Roboto Mono";
}

/* input[type-submit]:hover {
    background-color: #8094d4;
} */

.username-error,
.pwd-error,
.repeat-pwd-error,
.common-error {
    font-size: 11px;
    min-height: 10px;
    padding: 0px 15px;
}

.common-error {
    padding-bottom: 10px;
    text-align: center;
}

.checkmate {
    font-family: 'Dancing Script', cursive;
    color: var(--indigo);
    /* font-style: none; */
}